.home-background {
    background-image: url('./images/background.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    height: 850px;
}

[data-bs-theme="dark"] #header {
    background-color: #343a40; /* for example, a dark grey */
}

[data-bs-theme="dark"] #header a,
[data-bs-theme="dark"] #header .nav-link {
    color: #ffffff; /* white text */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #ffffff;
}

.nav-pills .nav-link:hover {
    color: #3574d2 !important;
}

.h2, h2{
    color: #000;
}

.nav {
    display: flex;
    align-items: center; /* This ensures vertical alignment */
}


.text-body-emphasis1 {
    --bs-text-opacity: 1;
    color: #000000!important;
}

.text-body-emphasis2 {
    --bs-text-opacity: 1;
    color: #ffffff!important;
}

.btn-primary1 {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffff;
}

.btn-primary1:hover {
    color: #3574d2;  /* Text color will be blue on hover */
    background-color: var(--bs-btn-bg);  /* Keeps the background color white on hover */
    border-color: var(--bs-btn-bg);  /* Keeps the border color consistent, adjust if needed */
}

section {
    padding-top: 140px;  /* Adjust based on the height of your fixed header/navbar */
    margin-top: -140px;  /* Negative margin offset to pull the section back up */
}

.pro {
    text-decoration: underline;
}
/* Title page */
.fw-bold {
    font-weight: 600!important;
}

.display-5 {
    font-size: calc(1.7rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

.intro-text {
    line-height: 1.5;
    width: 60%;
    margin: auto;
    margin-top: 4vh;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* makes sure the header is above all other content */
    background-color: white; /* or any other color, ensures the header is not transparent */
}

.typing-animation{
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    display: inline-block;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(1, 1, 1); }
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #000000;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #black;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #0b5ed7;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.icon-mail img {
    content: url('./images/mail.svg');
}

.icon-mail:hover img {
    content: url('./images/mail-hover.svg'); /* your hover image path */
}

.icon-linkedin img {
    content: url('./images/linkedin.svg');
}

.icon-linkedin:hover img {
    content: url('./images/linkedin-hover.svg'); /* your hover image path */
}

.icon-instagram img {
    content: url('./images/instagram.svg');
}

.icon-instagram:hover img {
    content: url('./images/instagram-hover.svg'); /* your hover image path */
}

.icon-github img {
    content: url('./images/github.svg');
}

.icon-github:hover img {
    content: url('./images/github-hover.svg'); /* your hover image path */
}
